<% page_title "Sign in" %>


<div class="panel panel-default">
  <%= page_header("Sign in to  #{ENV['APP_NAME']}") %>
  <div class='form-box clearfix'>
    <%= render 'form' %>
  </div>

  <div style='position:relative; margin: 20px 0;' class="clearfix">
    <hr />
    <div style='position:absolute; font-size: 200%; font-weight: bolder; left: 50%; top: 0; '>
      <i style='background: #fff; margin-left: -30px; border: 4px solid #ccc; border-radius: 50%; padding: 5px;'> OR </i>
    </div>
  </div>

  <div class='social'>
    <div class='input-row'>
      <%=link_to '#', class: 'fb-login btn btn-lg btn-social btn-facebook btn-block', data: { url: sign_in_fb_path } do %>
        <i class='fa fa-facebook'></i> Sign in With Facebook
      <% end %>
    </div>
  <!-- 
    <div class='input-row'>
      <%=link_to @koala_auth.url_for_oauth_code(:callback => sign_in_fb_m_url), class: 'btn btn-lg btn-social btn-facebook btn-block' do %>
        <i class='fa fa-facebook'></i> Sign in With Facebook Mobile
      <% end %>
    </div>
  -->
  </div>
</div>