<div id='notification'></div>

<script id='tmpl-notification' type="text/x-tmpl">
  <div class="bs-callout bs-callout-{%=o.type%}">
    <h4>
      <span class='glyphicon glyphicon-{%=o.icon%}'> </span>
      {%=o.title%}
    </h4>
    
    <p>{%=o.body%}</p>
  </div>
</script>