.btn-social {
  overflow: hidden;
  padding-left: 44px;
  position: relative;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn-social > *:first-child {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  bottom: 0;
  font-size: 2em;
  left: 0;
  line-height: 34px;
  margin: 5px 10px 5px 5px;
  padding-right: 4px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 32px;
}

.btn-facebook {
  color: #ffffff;
  background-color: #133783;
  border-color: #133783;
}

.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.open .dropdown-toggle.btn-facebook {
  color: #ffffff;
  background-color: #0e285f;
  border-color: #0b214e;
}

.btn-facebook:active,
.btn-facebook.active,
.open .dropdown-toggle.btn-facebook {
  background-image: none;
}

.btn-facebook.disabled,
.btn-facebook[disabled],
fieldset[disabled] .btn-facebook,
.btn-facebook.disabled:hover,
.btn-facebook[disabled]:hover,
fieldset[disabled] .btn-facebook:hover,
.btn-facebook.disabled:focus,
.btn-facebook[disabled]:focus,
fieldset[disabled] .btn-facebook:focus,
.btn-facebook.disabled:active,
.btn-facebook[disabled]:active,
fieldset[disabled] .btn-facebook:active,
.btn-facebook.disabled.active,
.btn-facebook[disabled].active,
fieldset[disabled] .btn-facebook.active {
  background-color: #133783;
  border-color: #133783;
}
