default: &default
  APP_NAME: ""

  AWS_KEY: ""
  AWS_SECRET: ""

  FB_ID: ""
  FB_SECRET: ""

  GOOGLE_MAP_API_KEY: ""

  EMAIL_SUPPORT: ""
  EMAIL_SYSTEM: ""
  EMAIL_CEO: ""


test:
  <<: *default

development:
  <<: *default

production:
  <<: *default